/* -----------------------------------------
    File: portal.css styles the output of portal.php
    Project: Wai-Message
    Standard: AS2.43
    School: Waimea College
    Author: Lachlan Drummond
-------------------------------------------- */  

.portal{
	width: 400px;
	padding: 10px;
	background-color: #EEE;
	margin-left: calc(50% - 200px);
	margin-top: 10vh;
	border-radius: 4px;
	font-family: Roboto;
}
.portal-error{
	padding: 10px;
	font-size: 20px;
	border-radius: 4px;
	border: 2px solid red;
}